*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}
body{
    min-height: 100vh;
    /* background-image: url(/images/bg1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.greenline{
    padding: 20px 0;
    background-color: rgb(0, 183, 12);
}
.social-elements{
    position: absolute;
    right: 20px;
    top: 10px;
}
.social-elements a{
    text-decoration: none;
    color: aliceblue;
    margin: 0 10px;
    padding: 10px 3px;
}
.social-elements a:hover{
    color: #055c15;
    border-radius: 3px;
    background-color: aliceblue;
    transition: .5s ease;
}
nav{
    width: 100%;
    position: relative;
    background-color: rgb(215, 238, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}
nav li{
    height: 100%;
    display: flex;
    align-items: center;
}
nav a{
    margin: 0 20px;
    width: 80%;
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
nav a img{
    width: 150px;
}
nav a:hover{
    /* background-color: rgb(130, 198, 249); */
    border-bottom: 1px solid #000000;
}
nav li:first-child{
    margin-right: auto;
}
nav li span{
    /* width: 80%; */
    border-bottom: 1px solid #000000;
}
.hide-pc{
    display: none;
    margin-right: 20px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(48, 146, 231, 0.123);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
@media(max-width: 933px){
    .hide-mobile{
        display: none;
    }
    .sidebar a{
        font-weight: 600;
    }
    .hide-pc{
        display: block;
    }
}

.footer-menu {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    background-color: rgb(226, 226, 226);
}
.footer-menu ul{
    display: flex;
    list-style: none;
    margin: 13px 0;
}
.footer-menu ul li{
    margin: 0 10px;
}
.footer-menu a{
    text-decoration: none;
    color: rgb(89, 89, 89);
}

.footer-menu a:hover{
    color: rgb(0, 0, 0);
}
@media(max-width:380px){
    .footer-menu a{
        font-size: 13px;
    }
}

.footer-curl{
    /* background-image: url('/images/cur1.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    padding-bottom: 6%;
}
.footer-info{
    /* background-color: #052aaf; */
    background: linear-gradient(to bottom, #ffffff ,#1395ff);
    display: grid;
    padding-top: 90px;
    padding-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.foot-data{
    color: #ffffff;
    margin: 20px 6%;
}
.foot-data h2{
    margin-bottom: 15px;
}
.foot-data li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transform: translateX(0px);
    transition: transform 0.2s ease;
}
.foot-data li{
    transition: transform 0.4s ease;
    padding: 5px 0;
    
}
.foot-data ul{
    list-style-type: none;
}
.foot-data h3{
    color: #000000;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    padding: 10px 0;
}
.foot-data li a:hover{
    color: #0e6ebd;
}
.foot-data li:hover{
    transform: translateX(10px);
}
.foot-data span ul li a{
    font-weight: 700;
}
.foot-data span ul li a span{
    font-weight: 800;
}
.social-icons a{
    font-size: 23px;
}
.social-icons{
    padding-left: 18%;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
}
.foot-data h2{
    font-size: 20px;
    font-weight: 600;
    color: #0e7d79;
}
.foot-data h2 span{
    font-family: "Bebas Neue", sans-serif;
    /* font-family: "Big Shoulders", sans-serif; */
    font-size: 30px;
    font-weight: 600;
    color: #2372bc;
}
@media(max-width:617px){
    .social-icons{
        padding-left: 0;
    }
}

nav.fixed{
    position: fixed;
    /* padding-bottom: 100px; */
    width: 100%;
    top: 0;
    z-index: 999;
}