.activities-intro{
    text-align: center;
    margin: 7% 0;
    color: rgb(48, 48, 48);
    animation: act 1s;
}
@keyframes act{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
}

.act-images-container {
    animation: act 2s;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust minmax values as needed */
    grid-gap: 20px;
    margin-top: 10px;
    margin-bottom: 55px;
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 556px){
    .act-images-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
.act-images-container img{
    width: 100%;
    height: auto;
    /* padding: 20px; */
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.image-popup-no-margins{
    border: 3px solid #011161;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    display: flex; /* Centers the image */
    justify-content: center; /* Horizontally center */
    align-items: center
}
.act-images-container img:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
}
.image-popup-no-margins:hover{
    border: 3px solid #029136;
    transition: .2s ease;
}
body{
    background-image: url('/images/blue_down.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 -100px; */
    /* background-position-y: 20%; */
    /* background: linear-gradient(to right, rgb(118, 214, 255), rgb(255, 255, 255)); */
}
.new-curve{
    background-image: url('/images/dbclr1.png');
    padding: 10% 0;
    margin-bottom: 5%;
    background-size: cover;
    opacity: 0.3;
    background-position: -150px 0;
    background-repeat: no-repeat;
}