.activities-intro{
    text-align: center;
    margin: 15px 0;
    color: rgb(48, 48, 48);
    animation: act 1s;
}
@keyframes act{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
}

.act-images-container {
    animation: act 2s;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust minmax values as needed */
    grid-gap: 20px;
    margin-top: 10px;
    margin-bottom: 55px;
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 556px){
    .act-images-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
.act-images-container img{
    width: 100%;
    transition: transform 0.3s ease;
}
.act-images-container img:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
}
body{
    background: linear-gradient(to right, rgb(118, 214, 255), rgb(255, 255, 255), rgba(141, 211, 255, 0.646), rgb(255, 255, 255), rgb(118, 202, 255), rgb(255, 255, 255));
}