section, .curve{
    /* padding-top: 500px; */
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(232, 251, 255), rgb(210, 247, 255), rgb(236, 244, 246), rgb(255, 255, 255));
}

.curve{
    background-image: url('/images/dbclr1.png');
    /* background-image: url('/images/cur1.png'); */
    background-size: 80%;
    width: 70%;
    opacity: 0.2;
    background-repeat: no-repeat;
    padding: 7% 0;
}
.description-contact{
    margin: 30px;
}
.description-contact h1{
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(49, 58, 122);
}
.description-contact p{
    font-size: 18px;
    text-align: justify;
    color: rgb(59, 59, 59);
    line-height: 1.9;
}
@media(max-width:700px){
    .description-contact h1{
        font-size: 30px;
    }
    .description-contact p{
        font-size: 16px;
    }
}

